#!/usr/bin/make -f

# make sure to use new /opt/venvs path on old dh-virtualenv versions
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs/

override_dh_prep:
	# Workaround for issue https://github.com/spotify/dh-virtualenv/issues/200
	sed -i 's/^-e /git+/g' requirements.txt
	dh_prep

override_dh_clean:
	sed -i 's/^git+/-e /g' requirements.txt
	dh_clean

%:
	dh $@ --with python-virtualenv --python /usr/bin/python3

